html{
    background: url(Background.jpg);
    height: 100%;
    background-size: cover; 
}

.navi{
    background-color: white;
    float: left;
    width: 15%;
    margin-top: 5%;
}

.navi ul{
    list-style: none;
}

.content{
    float: right;
    width: 84%;
    padding-top: 5%;
}

table{
    width: 50%;
    border-collapse: collapse;
}

th, td{
    height: 30px;
}

td{
    padding-left: 10px;
}

tr:nth-child(odd){
    background-color: beige;
}

tr:nth-child(even){
    background-color: rgb(220, 220, 150);
}
