html{
    background: url(Background.jpg);
    height: 100%;
    background-size: cover; 
}

ul{
    list-style: none;
}

li, p, td, th{
    font-size: 20px;
}

.navi{
    background-color: white;
    float: left;
    width: 15%;
    margin-top: 8%;
}

.content{
    float: right;
    width: 80%;
    padding-top: 5%;
}

table{
    width: 60%;
    border-collapse: collapse;
}

th, td{
    height: 30px;
}

td{
    padding-left: 10px;
}

tr:nth-child(odd){
    background-color: beige;
}

tr:nth-child(even){
    background-color: rgb(220, 220, 150);
}
