body{
    display: flex;                      /* Делаем body контейнером для .content и .navi */   
    margin: 0;                          /* Убираем отступ у края экрана */
    font-family: Arial;
}

.navi{
    flex: 0 0 15%;                      /* Задаём ширину элемента контейнера на экране */ 
    padding-top: 5%; 
    background-color: #FFF8E1;
    border-right: solid 2px #86572a;
}

.navi ul{
    list-style: none;                   /* Убираем декорирование пунктов списка (точки) */
    padding: 0;                         /* отступ, обусловленный им */
}

.navi li{
    height: 40px;
    line-height: 40px;                  /* Задаём расстояние между строками */
    font-size: 22px;
    text-align: center;
}

.logout-btn{                            /* Делаем кнопку "Выйти" такой же, как все остальные на панели */
    border: none;
    color: #86572a;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;
}

.navi li:hover{                         /* Меняем цвет при наведении */
    background-color: white;
}

.content{
    flex: 0 0 85%;
    height: 100vh;                      /* Задаём высоту в 100% от видимой области экрана */
    background: linear-gradient(90deg, white, beige);
    padding-top: 3%;
    padding-left: 5%;
    box-sizing: border-box;             /* Включаем отступы и границу блока в высоту и ширину */
}

.content form{
    display: inline-block;              /* Для того, чтобы элемент не растягивался на всю ширину */
    border: solid 1px #86572a;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
}

a{
    text-decoration: none;              /* Убираем декорирование ссылок */
    color: #86572a;
}

p{
    font-size: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;          /* Схлопываем отступы между ячейками */
    text-align: center;             
}

.my-table{                              /* Класс, для блока div, обёртывающего таблицу, чтобы сделать скругление углов */
    border: solid 1px;
    border-radius: 20px;
    overflow: hidden;                   /* Обрезаем границу таблицы, выступающую за div */
    width: 80%;
}

.column2{
    text-align: left;
    padding-left: 20px;
}

th, td{
    font-size: 15px;
}

th{
    border-bottom: 1px solid;
}

button, .my-button{                     /* Делаем одинаковыми кнопку и ссылку */
    display: inline-block;
    border: solid 1px;
    border-radius: 5px;
    padding: 9px;
    margin-top: 20px;
    margin-right: 10px;
    color: #86572a;
    background-color: #FFF8E1;
    font-size: 15px;
}

button:hover{
    cursor: pointer;                    /* Изменяем внешний вид курсора при наведении */
}



