<!DOCTYPE html>
<html>
    <head>
        <title>Мой ToDo</title>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Styles.css' %}">
    </head>
    <body>
        <div class="navi">
        {% block navi %}
            <ul>
                <li><a href="#">Все задачи</a></li>
                <li><a href="#">Важное</a></li>
            </ul>
        {% endblock %}
        </div>
        <div class="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>