{% extends 'Base.html' %}

{% block content %}
    {% for block in blocks %}
        <p style="font-weight: bold; text-indent: 5%;">{{block.title}}:</p>
        {% if block.question_set.all %}
            <ol>
            {% for question in block.question_set.all %}
                <li><a href="{% url 'question_detail' question.id %}">{{question.title}}</a></li>
            {% endfor %}
            </ol>
        {% else %}
        <p style="text-indent: 2%;">Вопросов по данной теме нет. Удалить тему?</p>
        <p  style="text-indent: 2%;"><a href="{% url 'question_block_delete' block.id %}">Удалить тему</a></p>
        {% endif %}
    {% endfor %}
    <br>
    <p><a href="{% url 'question_add' %}" >Добавить вопрос</a></p>
{% endblock %}